.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card {
  margin-bottom: 15%;
}

.card-text {
  text-align: right;
  font-weight: bold;
}

.card-footer {
  display: flex;
  flex-direction: column;
}

#heartIcon {
  font-size: 16pt;
  margin-left: 5%;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
